
/* this is what creates the big black nav bar, positioning it as fixed, its size, color, etc */
nav {
    background-color: #233246;
    padding: 1px;
    width: 244px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

/* styles the links by removing the automatic bullet, changing font, font-style */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, sans-serif;
}

h1{
    font-family: Tahoma, Arial, sans-serif;
    color: #859EB8;
}

div{
    background-color:  #233246;
    padding: 5px;
    position: fixed;
    width:75%;
    top: 0;
    right: 30px;
}

div p{
    background-color:  #233246;
    font-size: 140%;
    padding: 8px;
    font-family: Tahoma, Arial, sans-serif;
    color: #859EB8;
    position: fixed;
    width:75%;
    top: 100px;
    right: 30px;
}

/* used to style the navigation links on the menu bar */
nav a {
    padding: 7.5px;
    margin: 7.5px;
    margin-top: 22.5px;
    font-weight: bold;
    width: auto;
    font-size: 22.5px;
    height: 22.5px;
    background-color:#415B7E;
    color:#233246;
    text-align: center;
    clear: both;
    display: block;
}

/* styling the hovered link on menu bar */
nav a:hover, nav a:focus {
    background-color:#859EB8;
    color: #233246;
}

/* used to style visited links on pages */
nav a:visited {
    color: #97BFD4;
}

body{

    background-color: #D6D9E6;
}